aiokafka==0.10.0
async-timeout==4.0.3
aws-glue-schema-registry==1.1.3
boto3==1.34.52
botocore==1.34.52
fastavro==1.9.4
fastjsonschema==2.19.1
greenlet==3.0.3
jmespath==1.0.1
joblib==1.2.0
numpy==1.24.3
orjson==3.6.9
packaging==23.2
pandas==2.0.1
psycopg2-binary==2.9.6
python-dateutil==2.8.2
pytz==2023.3
s3transfer==0.10.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
SQLAlchemy==2.0.12
threadpoolctl==3.1.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.14